/*
 *= require_tree .
 *= require_self

 *LIBRARY
 */

@import"global/plugins/font-awesome/css/font-awesome.min.css";
@import"global/plugins/simple-line-icons/simple-line-icons.min.css";
@import"global/plugins/bootstrap/css/bootstrap.min.css";
@import"global/plugins/bootstrap-switch/css/bootstrap-switch.min.css";

@import "global/css/components-rounded.min.css";
@import "global/css/plugins.min.css";
@import "layout/css/layout.min.css";
@import "layout/css/themes/default.min.css";
@import "layout/css/custom.min.css";
